[submodule "frontend"]
	path = frontend
	url = https://github.com/influcoder/Hackothsava-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/influcoder/Hackothsava-server.git
